<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module title="Checker">
    <module title="TreeWalker">

        <module title="AvoidStarImport"/>

        <module title="EmptyBlock"/>

        <module title="DefaultComesLast">
            <property title="skipIfLastAndSharedWithCase" value="true"/>
        </module>

        <module title="EmptyStatement"/>

        <module title="EqualsAvoidNull"/>

        <module title="InnerAssignment"/>

        <module title="DeclarationOrder">
            <property title="ignoreConstructors" value="false"/>
            <property title="ignoreModifiers" value="false"/>
        </module>

        <module title="MagicNumber">
            <property title="tokens" value="NUM_DOUBLE, NUM_FLOAT, NUM_INT, NUM_LONG"/>
            <property title="ignoreNumbers" value="0, 0.5, 1, 2, 100, 1000, -1, 80, 32, 64, 128, 256, 512, 1024, 2048, 4096"/>
            <property title="ignoreFieldDeclaration" value="true"/>
            <property title="ignoreAnnotation" value="true"/>
        </module>

        <module title="OneStatementPerLine"/>

        <module title="OverloadMethodsDeclarationOrder"/>

        <module title="PackageDeclaration">
            <property title="matchDirectoryStructure" value="true"/>
        </module>

        <module title="ParameterAssignment"/>

        <module title="SimplifyBooleanExpression"/>

        <module title="StringLiteralEquality"/>

        <module title="SuperClone"/>

        <module title="SuperFinalize"/>

        <module title="UnnecessaryParentheses"/>


        <module title="AnnotationLocation">
            <property title="allowSamelineMultipleAnnotations" value="false"/>
            <property title="allowSamelineSingleParameterlessAnnotation" value="false"/>
            <property title="allowSamelineParameterizedAnnotation" value="false"/>
        </module>

        <module title="MissingDeprecated">
            <property title="skipNoJavadoc" value="false"/>
        </module>

        <module title="AvoidNestedBlocks">
            <property title="allowInSwitchCase" value="false"/>
        </module>

        <module title="EmptyBlock">
            <property title="option" value="text"/>
        </module>

        <module title="EmptyCatchBlock">
            <property title="commentFormat" value="expected|Expected"/>
        </module>

        <module title="LeftCurly">
            <property title="option" value="eol"/>
            <property title="ignoreEnums" value="false"/>
        </module>

        <module title="NeedBraces">
            <property title="allowSingleLineStatement" value="true"/>
            <property title="allowEmptyLoopBody" value="true"/>
        </module>

        <module title="RightCurly">
            <property title="option" value="same"/>
        </module>


        <module title="HideUtilityClassConstructor"/>

        <module title="InnerTypeLast"/>

        <module title="InterfaceIsType">
            <property title="allowMarkerInterfaces" value="true"/>
        </module>

        <module title="OneTopLevelClass"/>

        <module title="VisibilityModifier">
            <property title="allowPublicImmutableFields" value="true"/>
            <property title="protectedAllowed" value="true"/>
        </module>

        <!--<module title="MultipleStringLiterals">-->
        <!--<property title="allowedDuplicates" value="1"/>-->
        <!--</module>-->

        <module title="MultipleVariableDeclarations"/>


        <module title="IllegalImport">
            <property title="illegalPkgs" value="sun.*, dummy.*"/>
            <property title="regexp" value="true"/>
        </module>

        <module title="RedundantImport"/>

        <module title="UnusedImports"/>


        <module title="NonEmptyAtclauseDescription"/>


        <module title="BooleanExpressionComplexity">
            <property title="max" value="3"/>
        </module>

        <module title="JavaNCSS">
            <property title="methodMaximum" value="120"/>
        </module>

        <module title="ArrayTypeStyle">
            <property title="javaStyle" value="true"/>
        </module>

        <module title="AvoidEscapedUnicodeCharacters">
            <property title="allowEscapesForControlCharacters" value="true"/>
            <property title="allowNonPrintableEscapes" value="true"/>
            <property title="allowByTailComment" value="true"/>
        </module>

        <module title="CommentsIndentation"/>

        <module title="TodoComment">
            <property title="format" value="(TODO)|(FIXME)|(ALERT)"/>
        </module>


        <module title="UpperEll"/>

        <!--
public
protected
private
abstract
default
static
final
transient
volatile
synchronized
native
strictfp -->
        <module title="ModifierOrder"/>

        <module title="RedundantModifier"/>


        <module title="AnonInnerLength">
            <property title="max" value="60"/>
        </module>

        <module title="LineLength">
            <property title="max" value="150"/>
        </module>

        <!--<module title="MethodCount">-->
        <!--<property title="maxTotal" value="40"/>-->
        <!--<property title="maxPublic" value="20"/>-->
        <!--</module>-->

        <module title="MethodLength">
            <property title="max" value="150"/>
        </module>

        <module title="OuterTypeNumber">
            <property title="max" value="1"/>
        </module>

        <module title="ParameterNumber">
            <property title="max" value="7"/>
        </module>


        <module title="EmptyForInitializerPad">
            <property title="option" value="nospace"/>
        </module>

        <module title="EmptyForIteratorPad">
            <property title="option" value="nospace"/>
        </module>


        <module title="EmptyLineSeparator">
            <property title="allowNoEmptyLineBetweenFields" value="true"/>
            <property title="allowMultipleEmptyLines" value="true"/>
            <property title="allowMultipleEmptyLinesInsideClassMembers" value="true"/>
        </module>

        <module title="GenericWhitespace"/>

        <module title="MethodParamPad">
            <property title="option" value="nospace"/>
            <property title="allowLineBreaks" value="true"/>
        </module>

        <module title="NoWhitespaceAfter">
            <property title="allowLineBreaks" value="true"/>
        </module>

        <module title="NoWhitespaceBefore">
            <property title="allowLineBreaks" value="true"/>
        </module>

        <module title="ParenPad">
            <property title="option" value="nospace"/>
        </module>

        <module title="SeparatorWrap">
            <property title="tokens" value="DOT, ELLIPSIS, AT, ARRAY_DECLARATOR, RBRACK, METHOD_REF"/>
            <property title="option" value="nl"/>
        </module>

        <module title="TypecastParenPad">
            <property title="option" value="nospace"/>
        </module>

        <module title="WhitespaceAfter"/>

        <module title="ConstantName">
            <property title="severity" value="info"/>
            <property title="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$|log|properties|services|i18n"/>
        </module>

        <module title="LocalFinalVariableName"/>

        <module title="LocalVariableName">
            <property title="allowOneCharVarInForLoop" value="true"/>
        </module>

        <module title="MemberName">
            <property title="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module title="MethodName">
            <property title="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property title="allowClassName" value="false"/>
        </module>

        <module title="PackageName">
            <property title="format" value="^[a-z]+(\.[a-zA-Z_][a-zA-Z0-9_]*)*$"/>
        </module>

        <!--<module title="ParameterName">-->
            <!--<property title="format" value="^[a-z][a-zA-Z0-9]*$"/>-->
            <!--<property title="ignoreOverridden" value="false"/>-->
            <!--<property title="accessModifiers" value="public, protected, package, private"/>-->
        <!--</module>-->

        <module title="TypeName">
            <property title="format" value="^[A-Z][a-zA-Z0-9]*$"/>
            <property title="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, ANNOTATION_DEF"/>
        </module>

    </module>


    <module title="UniqueProperties">
        <property title="fileExtensions" value="properties"/>
    </module>

    <module title="FileTabCharacter">
        <property title="eachLine" value="false"/>
    </module>

</module>